 .trusted-by {
   align-items: center;
   display: inline-flex;
   flex-direction: column;
   position: absolute;
 }

 .trusted-by .text-wrapper-8 {
   color: #000000;
   position: relative;
   width: fit-content;
 }

 .trusted-by .img-2 {
   flex: 0 0 auto;
   position: relative;
 }