.iphone-pro-max .frame {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.iphone-pro-max .img {
    flex: 1;
    flex-grow: 1;
    position: relative;
}

.iphone-pro-max .frame-2 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-grow: 1;
    position: relative;
}

.iphone-pro-max .text-wrapper-3,
.iphone-pro-max .text-wrapper-4,
.iphone-pro-max .text-wrapper-5 {
    color: #000000;
    flex: 1;
    position: relative;
}

.iphone-pro-max .text-wrapper-3:hover,
.iphone-pro-max .text-wrapper-4:hover,
.iphone-pro-max .text-wrapper-5:hover {
    color: #ff4d4d;
    cursor: pointer;
}

.iphone-pro-max .div-wrapper {
    align-items: center;
    background-color: #ff4d4d;
    display: flex;
    flex: 1;
    flex-grow: 1;
    justify-content: center;
    position: relative;
    border: 2px solid transparent;
    cursor: pointer;
}

.iphone-pro-max .div-wrapper:hover {
    background-color: #ffffff;
    border: 2px solid #ff4d4d;
}

.iphone-pro-max .text-wrapper-6 {
    color: #ffffff;
    flex: 1;
    position: relative;
}

.iphone-pro-max .div-wrapper:hover .text-wrapper-6 {
    color: #ff4d4d;
}